html,body {
    height: 100%;
    margin: 0;
    background-color: aquamarine;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    background-color: red;
    height: 50vh;
    width: 70vh;
}

#container, #result, #summary {
    border-radius: 1rem;

}

#result, #summary {
    width: 50%;
    height: 100%;
}

#result {
    background-color: blue;
}

#summary {
    background-color: white;
    
}