html,body {
    height: 100%;
    margin: 0;
    background-color: aquamarine;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: inline;
}

#result, #summary {
    border-radius: 1rem;
}

#result, #summary {
    width: 50%;
    height: 100%;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #0800ff, #8f00ff);
    color: white;
}

#summary {
    display: flex;
    height: 50vh;
    width: 70vh;
    background-color: white;
    
}

#summary-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.summary-element {
    display: flex;
    justify-content: start;    
    align-items: center;    
    height: 3rem;
    width: 10rem;
    border-radius: 3rem;
    background-color: red;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

#reaction {
    background-color: #ffd5d5;
    color: hsl(0, 100%, 67%);
}

#memory {
    background-color: #fcffd5;
    color: hsl(39, 100%, 56%);
}

#verbal {
    background-color: #d5ffd9;
    color: hsl(166, 100%, 37%);
}

#visual {
    background-color: #d5fbff;
    color: hsl(234, 85%, 45%);
}

#continue-button > button {
    height: 3rem;
    width: 10rem;
    border-radius: 3rem;
    border: none;
    background-color: #380080;
    color: white;
}

#result-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 8rem;
    background-image: linear-gradient(to top, #0800ff, #380080);
    border-radius: 50%;
}

#result-circle > h1, p {
    margin: 0;
}

#result-circle > p {
    color: #c0c0c0;
}


#result > p {
    margin-left: 3rem;
    margin-right: 3rem;
    color: #c0c0c0;
}